<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Spark App 列表</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>document.write(" <link  rel='stylesheet' type='text/css' href='css/appInfo/demo.css?v=" + Date.now() + "'  media='all'>");</script>
<script>document.write("<script type='text/javascript' src='js/constant.js?v=" + Date.now() + "'><\/script>");</script>

</head>
<body>
<div class="wrapper">
	<div class="search">
		<input type="text" class="inp" placeholder="关键字搜索">
		<ul class="btn-list" style="display: none">
			<li class="active" sex='all'>全部</li>
			<li sex='boys'>男生</li>
			<li sex='girls'>女生</li>
		</ul>
	</div>
	<ul class="user">

	</ul>
	<h3 class="prompt">空空如也</h3>
</div>
</div>
<script>document.write("<script type='text/javascript' src='js/appInfo/demo.js?v=" + Date.now() + "'><\/script>");</script>
<script>document.write("<script type='text/javascript' src='js/appInfo/CreateStore.js?v=" + Date.now() + "'><\/script>");</script>
<!--<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
</div>-->
</body>
</html>